.footer {

  background: #1f2937;

  color: white;

  padding: 70px 80px 25px;

}



.footer-container {

  display: grid;

  grid-template-columns: 2fr 1fr 1fr;

  gap: 50px;

}



.footer-brand h2 {

  font-size: 32px;

  font-weight: 800;

}


.footer-brand span {

  color: #6b8e23;

}



.footer p {

  color: #d1d5db;

  line-height: 1.7;

  margin-top: 15px;

}



.footer-links h3,
.footer-contact h3 {

  color: #facc15;

  margin-bottom: 20px;

}



.footer-links ul {

  list-style: none;

  padding: 0;

}



.footer-links li {

  margin-bottom: 12px;

  color: #d1d5db;

  cursor: pointer;

  transition: 0.3s;

}



.footer-links li:hover {

  color: #6b8e23;

}



.footer-contact p {

  margin-bottom: 10px;

}



.copyright {

  margin-top: 50px;

  padding-top: 20px;

  border-top: 1px solid #374151;

  text-align: center;

  color: #9ca3af;

}



/* Responsive */

@media (max-width: 900px) {


  .footer {

    padding: 60px 30px 20px;

  }


  .footer-container {

    grid-template-columns: 1fr;

    gap: 35px;

  }


}